<p><a href="/">Log in</a></p>
<h1>Create New User</h1>
<% if alert %>
	<% alert.each do |message| %>
		<p><%= message %></p>
	<% end %>
<% end %>
<form action="/users/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>Email: <input type="text" name="email"></p>
	<p>Name: <input type="text" name="name"></p>
	<p>Password: <input type="password" name="password"></p>
	<p>Password Confirmation: <input type="password" name="password_confirmation"></p>
	<p><input type="submit" value="Create"></p>
</form>
