<h1>Secrets</h1>
<table>
	<% @secrets.each do |secret| %>
	<tr>
		<td>
			<p><%= secret.content %></p>
			<p> 
			<form>
				# likes
				<input type="submit" value="Like">
			</form>
			</p>
		</td>
		<td>
			<form>
			<input type="submit" value="Delete">
			</form>
		</td>
	</tr>
	<% end %>
</table>
