<h1>Secrets</h1>
<table>
	<% @secrets.each do |secret| %>
	<tr>
		<td>
			<p><%= secret.content %></p>
			<p> 
			<form>
				# likes
				<input type="submit" value="Like">
			</form>
			</p>
		</td>
		<td>
		<% if current_user == secret.user %>
			<form action="/secrets/<%= secret.id %>/destroy" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
			</form>
		<% end %>
		</td>
	</tr>
	<% end %>
</table>
