/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.likes-count{
    font-style: italic;
}
.padded{
    padding-left: 10px;
    padding-right: 10px;
}
.primary-color{
    background-color: #1d5971;
}
.primary-color-text{
    color: #1d5971;
}
.accent-color{
    background-color: #f1aa0e;
}
.accent-color-text{
    color: #f1aa0e !important;
}
.secondary-color{
    background-color: #f5f4f2;
}
.secondary-color-text{
    color: #f5f4f2;
}
.primary-color-light{
    background-color: #2a91ba;
}
.primary-color-light-text{
    color: #2a91ba !important;
}
.logo:hover{
    color: #f5f4f2;
}
.white-text{
    color: white;
}
.btn-hover:hover{
    color: white;
    background-color: #ffb40f;
}
.link-hover:hover{
    color: #f1aa0e;
}
#account{
    font-size: 18px !important;
    font-weight: lighter !important;
}
.error{
    color: #d9534f;
}
.extra-padding{
    padding-top: 85px;
}
#extra-large{
    font-size: 50px;
    font-weight: bolder;
}
.active-nav-btn-left{
    background-color: #f1aa0e;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border: 1px solid #f1aa0e !important;
}
.active-nav-btn-middle{
    background-color: #f1aa0e;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: 1px solid #f1aa0e !important;
}
.active-nav-btn-right{
    background-color: #f1aa0e;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 5px !important;
    border: 1px solid #f1aa0e !important;
}
.active-nav-btn-right:hover{
    background-color: #f1aa0e !important;
    color: white !important;
}
.active-nav-btn-middle:hover{
    background-color: #f1aa0e !important;
    color: white !important;
}
.active-nav-btn-left:hover{
    background-color: #f1aa0e !important;
    color: white !important;
}
.inactive-nav-btn-left{
    background-color: transparent !important;
    border-top-left-radius: 5px !important;
     border-top-right-radius: 0px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border: 1px solid #f1aa0e !important;
}
.inactive-nav-btn-middle{
    background-color: transparent !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top: 1px solid #f1aa0e !important;
    border-bottom: 1px solid #f1aa0e !important;
}
.inactive-nav-btn-right{
    background-color: transparent !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 5px !important;
    border: 1px solid #f1aa0e !important;
}
.custom-pills{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.custom-pills li{
    width: 100% !important;
    text-align: center;
}
.delete-div{
    display: flex;
    justify-content: flex-end;
}
.special-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-delete-account{
    margin-top: 20px !important;
}
.extra-margin-bottom{
    margin-bottom: 20px !important;
}
.navbar-btn:hover{
    color:  #f1aa0e !important;
}
.my-navbar{
    display: flex !important;
    justify-content: space-between !important;
    padding-right: 10px;
}
.my-ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
.my-ul .active-li{
    border-bottom: 1px solid #f1aa0e !important;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 12px;
}